{erl_opts, []}.
{deps, [
        {gen_server2, ".*", {git, "https://github.com/erlang-china/gen_server2.git", {tag,"v1.0.1"}}},
        {utility, ".*", {git,"https://github.com/erlang-china/utility.git","master"}},
        {eredis, ".*", {git,"https://github.com/wooga/eredis.git",{tag, "v1.0.5"}}},
        {ets_mgr, ".*", {git,"https://github.com/erlang-china/ets_mgr.git",{tag, "0.9.1"}}},
        {ketama, ".*", {git,"https://github.com/erlang-china/ketama.git","master"}},
        {mini_pool, ".*", {git,"git@da-git.adsage.com:engine/mini_pool.git","master"}}
        ]}.
{cover_enabled, true}.