{smart_eredis, 
    [{pools,
        [
            %% {pool_name            :: atom(), 
            %%  servers              :: list(), 
            %%  scheduling_algorithm :: list(), 
            %%  options              :: list()}
            {pool_1,[
                        [{id, 1}, 
                         {host, "127.0.0.1"}, 
                         {port, 6379}, 
                         {database, 1}, 
                         {password, ""}], 
                        [{id, 2},
                         {host, "127.0.0.1"}, 
                         {port, 6380}, 
                         {database, 1}, 
                         {password, ""}],
                        [{id, debug}, 
                         {host, "127.0.0.1"}, 
                         {port, 6380}, 
                         {database, 0}, 
                         {password, ""}]
                    ], 
                    [ {algorithm, ketama},
                      {init_options, 
                            [{ring_opt, [{expand_node, false},
                                         {match_operator, '>'},
                                         {concat_char, ":"},
                                         {copies_gen_type, specific}]},
                             {nodes, [{1, "redis:node_001:6379", 100, 1},
                                      {2, "redis:node_001:6380", 100, 2}]}]},
                      {runtime_options, []}
                    ],
                    [{debug, true}]
            },
            {pool_2,[
                        [{id, 1}, 
                         {host, "127.0.0.1"}, 
                         {port, 6379}, 
                         {database, 1}, 
                         {password, ""}], 
                        [{id, 2}, 
                         {host, "127.0.0.1"}, 
                         {port, 6380}, 
                         {database, 1}, 
                         {password, ""}],
                        [{id, debug}, 
                         {host, "127.0.0.1"}, 
                         {port, 6380}, 
                         {database, 0}, 
                         {password, ""}]
                    ],
                    [
                        {algorithm, random},
                        {init_options, []},
                        {runtime_options, [{ids, [1,2]}]}
                    ],
                    [{debug, true}]
            }
        ]}
    ]
}.